@function anchoColumnas($columns){
	@return percentage(($columns/12))
}

@for $numColumna from 1 through 12{
	.col-#{$numColumna}{
		width: anchoColumnas($numColumna)
	}
}


@for $topBorder from 1 through 3{
	#{section}{
		@include sectionFormat;
	}
}

@for $titulos from 1 through 3 {
	#{h2}{
		@include title-section;
		@include generalTextFormat(1.5rem);
	}
}

@for $links from 1 through 3 {
	#{'.external-link'}{
		@include linkFormat(0.875rem);
		color: $azul;
		float: right;
		padding: 2.5625rem 0;
		margin-right: 0.875rem;
		letter-spacing: .5px;
	}
}

@for $formatP from 1 through 3{
	#{p}{
		@include formatP(1.2rem);
		@include generalTextFormat(1.125rem);
		color: #414549;
		margin-top:2.5%;
	}
}