@import 'variables';
@import 'mixin';
@import 'grid';
@import 'funciones';

.left{
	float: left;
}
.right{
	float: right;
}
header{
	padding: 4rem 0 0;
	nav{
		height: 50px;
		display: flex;
		justify-content: center;
		ul{
			list-style:none;
			text-align: center;
			display: flex;
			justify-content: center;
			li{
				display: inline-block;
				margin: 0 .5625rem;
	    		padding: 0 .75rem;
			}
		}
	}

}
.link{
	@include linkFormat(.875rem);
}
.text{
	&__title{
		@include generalTextFormat(2.875rem);
    	line-height: 50px;
    	color: $gris-texto;
	}
	&__subtitle{
		@include generalTextFormat(1.5rem);
		font-weight: lighter;
		color: $gris-texto;
		margin-bottom: 	1.4375rem;
		margin-top:0.75rem;
		letter-spacing: .5px;
	}
	&__p{
		@include generalTextFormat(1.125rem);
		@include formatP(2.125rem);
	}
	span{
		@extend .text__p;
	}
}

.home-container{
	margin:6% 2% 0 2%;
}
.fecha{
	margin-top: 0px;
	@include generalTextFormat(1rem);
}
.card{
	padding: 5%;
	&:hover{
		box-shadow: 0px 0px 5px #bebebe;
	}
}